
<div class="container " style="cursor:grab;">
  <div id="owl-carousel1" class="owl-carousel owl-theme owl-loaded">
    <div class="owl-stage-outer">
      <div class="owl-stage">
        <div class="owl-item">
          <a href="" class="d-flex gap-2 text-decoration-none align-items-sm-center" title="Miễn phí vẫn chuyển">
            <div class="thumb-icon">
              <img width="40" height="40" src="../../img/chinhsach_1.png" alt="Miễn phí vẫn chuyển">
            </div>
            <div class="text my-auto">
              <span class="title hv">Miễn phí vẫn chuyển</span>
              <span class="des text-black fs-6_5">Cho đơn hàng từ 500K</span>
            </div>
          </a>
        </div>
        <div class="owl-item">
          <a href="#" class=" d-flex gap-2 text-decoration-none">
            <div class="thumb-icon">
              <img width="40" height="40" src="../../img/chinhsach_2.png" alt="Đổi hàng tận nhà">
            </div>
            <div class="text my-auto">
              <span class="title hv">Đổi hàng tận nhà</span>
              <span class="des text-black fs-6_5">Trong vòng 7 ngày</span>
            </div>
          </a>
        </div>
        <div class="owl-item">
          <a href="#" class="d-flex gap-2 text-decoration-none" title="Thanh toán COD">
            <div class="thumb-icon">
              <img width="40" height="40" src="../../img/chinhsach_3.png" alt="Thanh toán COD">
            </div>
            <div class="text my-auto">
              <span class="title hv">Thanh toán COD</span>
              <span class="des text-black fs-6_5">Hoặc thanh toán quét mã QR</span>
            </div>
          </a>
        </div>
        <div class="owl-item">
          <a href="#" class="d-flex gap-2 text-decoration-none" title="Hotline: 19006750">
            <div class="thumb-icon">
              <img width="40" height="40" src="../../img/chinhsach_4.png" alt="Hotline: 19006750">
            </div>
            <div class="text my-auto">
              <span class="title hv">Hotline: 19006750</span>
              <span class="des text-black fs-6_5">Hỗ trợ từ 08h00 đến 22h00</span>
            </div>
          </a>
        </div>

      </div>
    </div>
  </div>
</div>
<script src="../../../js/owl.js"></script>