<div id="owl-carousel4" class="owl-carousel owl-theme owl-loaded">
  <div class="owl-stage-outer">
    <div class="owl-stage">
      <div class="owl-item">
        <div class="item-voucher position-relative">
          <img src="../../img/subtract.png" alt="" class="img-voucher">
          <div class="khung-voucher d-flex gap-4 position-absolute top-0 p-2">
            <img id="img-coupon" class="mt-2 ms-1" src="../../img/coupon_1.jpg" alt="">
            <div class="content-voucher">
              <div class="content-top vstack">
                <strong class="fs-6">TẶNG BẠN MỚI</strong>
                <span class="fs-7">Giảm 15% cho đơn hàng đầu tiên từ 699K</span>
              </div>
              <div class="content-btm hstack">
                <label class="vstack fs-6_5 text-primary">Nhập mã <strong>HELLO</strong></label>
                <a href="#" class="btn btn-primary text-light rounded-5 hvbg fs-7">Sao chép</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="owl-item">
        <div class="item-voucher position-relative">
          <img src="../../img/subtract.png" alt="" class="img-voucher">
          <div class="khung-voucher d-flex gap-4 position-absolute top-0 p-2">
            <img id="img-coupon" class="mt-2 ms-1" src="../../img/coupon_1.jpg" alt="">
            <div class="content-voucher">
              <div class="content-top vstack">
                <strong class="fs-6">TẶNG BẠN MỚI</strong>
                <span class="fs-7">Giảm 15% cho đơn hàng đầu tiên từ 699K</span>
              </div>
              <div class="content-btm hstack">
                <label class="vstack fs-6_5 text-primary">Nhập mã <strong>HELLO</strong></label>
                <a href="#" class="btn btn-primary text-light rounded-5 hvbg fs-7">Sao chép</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="owl-item">
        <div class="item-voucher position-relative">
          <img src="../../img/subtract.png" alt="" class="img-voucher">
          <div class="khung-voucher d-flex gap-4 position-absolute top-0 p-2">
            <img id="img-coupon" class="mt-2 ms-1" src="../../img/coupon_1.jpg" alt="">
            <div class="content-voucher">
              <div class="content-top vstack">
                <strong class="fs-6">TẶNG BẠN MỚI</strong>
                <span class="fs-7">Giảm 15% cho đơn hàng đầu tiên từ 699K</span>
              </div>
              <div class="content-btm hstack">
                <label class="vstack fs-6_5 text-primary">Nhập mã <strong>HELLO</strong></label>
                <a href="#" class="btn btn-primary text-light rounded-5 hvbg fs-7">Sao chép</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="owl-item">
        <div class="item-voucher position-relative">
          <img src="../../img/subtract.png" alt="" class="img-voucher">
          <div class="khung-voucher d-flex gap-4 position-absolute top-0 p-2">
            <img id="img-coupon" class="mt-2 ms-1" src="../../img/coupon_1.jpg" alt="">
            <div class="content-voucher">
              <div class="content-top vstack">
                <strong class="fs-6">TẶNG BẠN MỚI</strong>
                <span class="fs-7">Giảm 15% cho đơn hàng đầu tiên từ 699K</span>
              </div>
              <div class="content-btm hstack">
                <label class="vstack fs-6_5 text-primary">Nhập mã <strong>HELLO</strong></label>
                <a href="#" class="btn btn-primary text-light rounded-5 hvbg fs-7">Sao chép</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="../../../js/owl.js"></script>
