<!-- nav danh mục trang -->
<nav data-mdb-navbar-init class="navbar navbar-expand-lg bg-body-tertiary mb-4">
  <div class="container-fluid d-flex align-content-center">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb align-items-center mb-0">
        <li class="breadcrumb-item"><a href="#"><i class=" fs-5 bi-house-door-fill"></i>Trang chủ</a></li>
        <li class="breadcrumb-item active" aria-current="page"><a class="fs-6 text-primary" href="#">Sản phẩm</a>
        </li>
      </ol>
    </nav>
  </div>
</nav>
<!-- main -->
<div class="main-sp">
  <div class="banner row">
    <a href="#">
      <img class="w-100 rounded-2" src="../../img/banner_collection.jpg" alt="">
    </a>
  </div>
  <div class="voucher">
    <!-- voucher -->
    <section ng-include="'view/layout/module/voucher.html'" class="voucher row my-4"></section>
    <div class="sp-main">
      <div class="d-flex h1-sp mb-4">
        <h1 class="me-auto h3">Tất cả sản phẩm ({{dspro.length}})</h1>
        <div class="btn-group me-0">
          <button type="button" class=" btn btn-primary text-white dropdown-toggle" data-bs-toggle="dropdown"
            aria-expanded="false">
            Sắp xếp: {{nameSortby}}
          </button>
          <ul class="dropdown-menu">
            <li>
              <div class="dropdown-item" ng-click="sortBy('-name','Tên A->Z')">Tên A->Z</div>
            </li>
            <li>
              <div class="dropdown-item" ng-click="sortBy('name','Tên Z->A')">Tên Z->A</div>
            </li>
            <li>
              <div class="dropdown-item" ng-click="sortBy('price','Giá tăng dần')">Giá tăng đần</div>
            </li>
            <li>
              <div class="dropdown-item" ng-click="sortBy('-price','Giá giảm dần')">Giá giảm dần</div>
            </li>
          </ul>
        </div>
      </div>
      <div class="row sp-main-sp-cl justify-content-between">
        <div class="col-lg-3 d-sm-none d-lg-block">
          <div class="aside-cata mb-5">
            <h3 class="fw-bold fs-5 mb-2">Danh mục sản phẩm</h3>
            <ul class="list-unstyled">
              <li><input class="me-2" type="checkbox" ng-model="isCheckAo"><span
                  class="text-black">Áo</span>({{countAo}} sản phẩm)</li>
              <li><input class="me-2" type="checkbox" ng-model="isCheckQuan"><span class="text-black">Quần </span>
                ({{countQuan}} sản phẩm)
              </li>
              <!-- <li><input class="me-2" type="checkbox" ng-model="isNewproduct">Sản phẩm mới</li>
              <li><input class="me-2" type="checkbox" ng-model="isBestsaler">Best-sale</li>
              <li><input class="me-2" type="checkbox" ng-model="isFeature">Sản phẩm nổi bật</li> -->
            </ul>
          </div>
          <div class="aside-cata mb-5">
            <h3 class="fw-bold fs-5 mb-2">Chọn mức giá</h3>
            <ul class="list-unstyled">
              <li><input type="radio" name="price" ng-model="selectedPrice" value="Dưới 100.000đ"> Dưới 100.000đ</li>
              <li><input type="radio" name="price" ng-model="selectedPrice" value="Từ 100.000đ - 300.000đ"> Từ 100.000đ
                - 300.000đ</li>
              <li><input type="radio" name="price" ng-model="selectedPrice" value="Từ 300.000đ - 500.000đ"> Từ 300.000đ
                - 500.000đ</li>
              <li><input type="radio" name="price" ng-model="selectedPrice" value="Từ 500.000đ - 1 triệu"> Từ 500.000đ -
                1 triệu</li>
              <li><input type="radio" name="price" ng-model="selectedPrice" value="Trên 1 triệu"> Trên 1 triệu</li>
            </ul>
          </div>
          <!-- <div class="aside-cata mb-5">
            <h3 class="fw-bold fs-5 mb-2">Loại</h3>
            <ul class="list-unstyled">
              <li><a href=""><input type="checkbox" name="" id="">
                  Áo khoác</a></li>
              <li><a href=""><input type="checkbox" name="" id="">
                  Áo polo</a></li>
              <li><a href=""><input type="checkbox" name="" id="">
                  Áo sơ mi</a></li>
              <li><a href=""><input type="checkbox" name="" id="">
                  Áo thun</a></li>
              <li><a href=""><input type="checkbox" name="" id="">
                  Quần</a></li>
            </ul>
          </div> -->
          <!-- <div class="aside-cata mb-5">
            <h3 class="fw-bold fs-5 mb-2">Size</h3>
            <ul class="list-unstyled">
              <li><a href=""><input type="checkbox" name="" id="">
                  S</a></li>
              <li><a href=""><input type="checkbox" name="" id="">
                  M</a></li>
              <li><a href=""><input type="checkbox" name="" id="">
                  L</a></li>
              <li><a href=""><input type="checkbox" name="" id="">
                  XL</a></li>
              <li><a href=""><input type="checkbox" name="" id="">
                  XXL</a></li>
            </ul>
          </div>
          <div class="aside-cata mb-5">
            <h3 class="fw-bold fs-5 mb-2">Màu sắc</h3>
            <ul class="list-unstyled">
              <li><a href=""><input type="checkbox" name="" id="">
                  Áo khoác</a></li>
              <li><a href=""><input type="checkbox" name="" id="">
                  Áo polo</a></li>
              <li><a href=""><input type="checkbox" name="" id="">
                  Áo sơ mi</a></li>
              <li><a href=""><input type="checkbox" name="" id="">
                  Áo thun</a></li>
              <li><a href=""><input type="checkbox" name="" id="">
                  Quần</a></li>
            </ul>
          </div> -->

        </div>
        <div class="col-lg-9 col-md-12 row g-2">
          <div class="col-lg-4 col-xl-3 col-sm-6 "
            ng-repeat="sp in dspro |filter: customFilter |  orderBy:prop | filter: isInCategory| limitTo:limit:begin ">
            <div class="card">
              <div class="img-spfl position-relative card-img-top">
              <img ng-if="!isBase64(sp.thumbnai_img[0])" ng-src="../../img/{{sp.img}}" alt="" class="sp w-100">
            <img ng-if="isBase64(sp.thumbnai_img[0])" ng-src="{{sp.thumbnai_img[0]}}" alt="" class="sp w-100">
                <div class="img-khung">
                  <img src="../../img/title_image_1_tag.png" class="mt position-absolute bottom-0 w-50" alt="">
                  <a class="hv" href=""><i
                      class="bi bi-qr-code-scan position-absolute top-0 m-4 text-primary zdex hv"></i></a>
                </div>
                <div class="row">
                  <div class="action text-center position-absolute top-50 start-0">
                    <a href="#!product_details/{{sp.id}}" class="mx-2"><i class="bi bi-sliders ic ic1 hvbgpr"></i></a>
                    <a href="#" class="mx-2"><i class="bi bi-eye-fill ic ic2 hvbgpr" data-bs-toggle="modal"
                        ng-click="laymodel(sp.id)" data-bs-target="#modalProduct"></i></a>
                    <a href="" class="mx-2"><i class="bi bi-cart-fill ic ic3 hvbgpr"
                        ng-click="addToCart(sp); showToasts()"></i></a>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <div class="card-title fw-bold fs-5_5 hv truncate"> <a
                    href="#!product_details/{{sp.id}}">{{sp.name}}</a>
                </div>
                <div class="card-text row">
                  <span class="card-text-left col-auto me-auto fs-6_5">{{sp.gender}}</span>
                  <span class="card-text-right col-auto fs-6_5 d-flex gap-1 ">Size: <div class="d-flex"
                      ng-repeat="size in sp.size" class=""> {{size}} </div></span>
                </div>
                <!-- <div class="color-video d-flex align-items-center py-1">
                  <div style="background-color:#ffffff" class="swatches"></div>
                  <div style="background-color:#000000" class="swatches"></div>
                  <div style="background-color:#15841e" class="swatches"></div>
                  <div class="count-color">
                    + 1
                  </div>
                </div> -->
                <div class="price-box d-flex align-items-center justify-content-between mb-1">
                  <span class="fs-5 fw-bold text-primary">{{sp.price|number: 0}},000đ<span
                      class="fs-6_5 text-gray fw-light text-decoration-line-through ms-1">{{sp.listed_price|number:0}},000đ</span></span>
                  <div class="smart position-relative"><img class="" src="../../img/union.png" alt=""><span
                      class="fw-bold text-light zdex position-absolute r5 top-0">-{{(sp.listed_price-sp.price)/sp.listed_price*100|number:0}}%
                    </span></div>
                </div>
              </div>
            </div>
          </div>
          <!-- phân trang -->
          <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
              <li ng-click="page!=1 && chuyentrang(page-1)" class="page-item {{(page==1)?'disabled':''}}"><button
                  class="page-link" aria-label="Previous"><span aria-hidden="true">&laquo;</span></button></li>
              <li ng-click="chuyentrang(1)" class="page-item {{(page==1)?'active':''}}"><button
                  class="page-link">1</button></li>
              <li ng-click="chuyentrang(2)" class="page-item {{(page==2)?'active':''}}"><button
                  class="page-link">2</button></li>
              <li ng-click="chuyentrang(3)" class="page-item {{(page==3)?'active':''}}"><button
                  class="page-link">3</button></li>
              <li ng-click="page != tongTrang() &&chuyentrang(page+1)"
                class="page-item {{(page == tongTrang())?'disabled':''}}"><button class="page-link"
                  aria-label="Next"><span aria-hidden="true">&raquo;</span></button>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>

</div>
<script src="../../js/owl.js"></script>