<!-- nav danh mục trang -->
<nav data-mdb-navbar-init class="navbar navbar-expand-lg bg-body-tertiary mb-4">
  <div class="container-fluid d-flex align-content-center">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb align-items-center mb-0">
        <li class="breadcrumb-item"><a href="#"><i class=" fs-5 bi-house-door-fill"></i>Trang chủ</a></li>
        <li class="breadcrumb-item active" aria-current="page"><a class="fs-6 text-primary">{{namePage}}</a>
        </li>
      </ol>
    </nav>
  </div>
</nav>
<!-- main -->
<div class="loginregit">
  <nav>
    <div class="nav nav-tabs justify-content-center border-0" id="nav-tab  btlogin" role="tablist">

      <button class="nav-link " ng-class="{active: isActive('/login')}" ng-click="switchToLogin()" id="nav-home-tab"
        data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home"
        aria-selected="true">Đăng
        nhập</button>
      <button class="nav-link" ng-class="{active:isActive('/register')}" ng-click="switchToRegister()"
        id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab"
        aria-controls="nav-profile" aria-selected="false">Đăng
        ký</button>
    </div>
  </nav>
  <div class="tab-content mb-6" id="nav-tabContent">
    <div class="tab-pane fade" ng-class="{'show active': isActive('/login')}" id="nav-home" role="tabpanel"
      aria-labelledby="nav-home-tab" tabindex="0">
      <div class="col-lg-4 col-md-6 col-sm-12 col-12 col-xl-4 offset-xl-4 offset-lg-4 offset-md-3 offset-xl-3 ">
        <h1 class="text-uppercase fs-5 bd py-3 text-center ">Đăng nhập</h1>
        <form ng-submit="login()" class="text-center needs-validation" action="" novalidate>
          <input ng-model="users.loginEmail" type="text" class="form-control mb-3" placeholder="Email"
            pattern="[^@\s]+@[^@\s]+\.[^@\s]+" required>
          <div class="invalid-feedback mb-1 start-0">Vui lòng nhập đúng định dạng email !</div>
          <input ng-model="users.loginPassword" type="password" class="form-control mb-3" placeholder="Mật khẩu"
            pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" required>
          <div class="invalid-feedback mb-1 start-0">Có chữ hoa, chữ thường, kí tự đặt biệt và ít nhất 8 ký tự !</div>
          <input class="btn btn-primary text-light hvbg col-12" type="submit" value="Đăng nhập">
          <a class="hv text-center" data-bs-toggle="collapse" href="#collapseOne">Quên mật khẩu</a>
          <!-- toggle -->
          <div id="collapseOne" class="accordion-collapse collapse pt-4" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <input type="email" class="form-control mb-3" placeholder="Email" name="" id="">
              <!-- <input class="btn btn-primary text-light hvbg col-12" type="submit" value="Lấy lại mật khẩu"> -->
            </div>
          </div>
          <!-- end toggle -->
          <p>Hoặc đăng nhập bằng</p>
          <div class="socal">
            <a href="#" class="btn btn-primary text-light"><i
                class="fa-brands fa-facebook-f text-light fs-5_5 p-2"></i></i>Facebook</a>
            <a href="#" class="btn btn-danger text-light"><i
                class="fa-brands fa-google text-light fs-5_5 p-2"></i></i>Google</a>
          </div>
        </form>
      </div>
    </div>
    <div class="tab-pane fade" ng-class="{'show active': isActive('/register')}" id="nav-profile" role="tabpanel"
      aria-labelledby="nav-profile-tab" tabindex="0">
      <div class="col-lg-4 col-md-6 col-sm-12 col-12 col-xl-4 offset-xl-4 offset-lg-4 offset-md-3 offset-xl-3 ">
        <h1 class="text-uppercase fs-5 bd py-3 text-center ">Đăng ký</h1>
        <form ng-submit="addUser()" class="text-center needs-validation" action="" novalidate>
          <input type="text" class="form-control mb-3" ng-model="newUser.name" placeholder="Họ tên" name="" id="">
          <input type="email" class="form-control mb-3" ng-model="newUser.email" placeholder="Email" name=""
            pattern="[^@\s]+@[^@\s]+\.[^@\s]+" required>
          <div class="invalid-feedback mb-1 start-0">Vui lòng nhập đúng định dạng email !</div>
          <input type="text" class="form-control mb-3" ng-model="newUser.phone" placeholder="Số điện thoại" name=""
            pattern="(84|0[35789])[0-9]{8}\b" required>
          <div class="invalid-feedback mb-1 start-0">Vui lòng bắt đầu từ 0 gồm 10 số !</div>
          <input type="password" class="form-control mb-2" ng-model="newUser.password" placeholder="Mật khẩu"
            pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" required>
          <div class="invalid-feedback mb-1 start-0">Có chữ hoa, chữ thường, kí tự đặt biệt và ít nhất 8 ký tự !</div>
          <input class="btn btn-primary text-light hvbg col-12" type="submit" value="Đăng Ký">
          <p>Hoặc đăng nhập bằng</p>
          <div class="socal">
            <a href="#" class="btn btn-primary text-light"><i
                class="fa-brands fa-facebook-f text-light fs-5_5 p-2"></i></i>Facebook</a>
            <a href="#" class="btn btn-danger text-light"><i
                class="fa-brands fa-google text-light fs-5_5 p-2"></i></i>Google</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<script>
  // Example starter JavaScript for disabling form submissions if there are invalid fields
  (() => {
    'use strict'

    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    const forms = document.querySelectorAll('.needs-validation')

    // Loop over them and prevent submission
    Array.from(forms).forEach(form => {
      form.addEventListener('submit', event => {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }

        form.classList.add('was-validated')
      }, false)
    })
  })()
</script>